.Playlist {
  text-align: center;
}

.Playlist-logo {
  height: 40vmin;
  pointer-events: none;
}

.Playlist-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Playlist-link {
  color: #61dafb;
}
